@model Lorenzo_InterTransit_MVC.ViewModels.DossierFCLDetail

@{
    ViewBag.Title = "Detail du dossier";
}

<h2>Details du dossier</h2>
<div class="row">
    <div class="col-xs-6">
        @if (Model.Clients != null)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Le Client du dossier Sélectionné</h3>
                </div>
                <table class="table table-striped table-responsive">
                    <tr>
                        <th>Raison Sociale</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>E-Mail</th>
                        <th>Observation</th>
                    </tr>
                    @foreach (var item in Model.Clients)
                {
                        <tr>
                            <td>
                                @item.CLT_NOMRAIS
                            </td>
                            <td>
                                @item.CLT_VILLE
                            </td>
                            <td>
                                @item.CLT_PAYS
                            </td>
                            <td>
                                @item.CLT_MAIL
                            </td>
                            <td>
                                @item.CLT_OBS
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "Clients", Action = "Edit", id = item.CLT_ID })
                                @Html.ActionLink("Details", "Details", new { Controller = "Clients", Action = "Details", id = item.CLT_ID })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "Clients", Action = "Delete", id = item.CLT_ID })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div class="col-xs-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Résumé du dossier FCL</h3>
            </div>
            <table class="table">
                <tr>
                    <th>Num Dossier FCL</th>
                    <th>Avancement du Dossier</th>
                    <th>Date Mise à Jour</th>
                </tr>
                @foreach (var item in Model.DossierFclExports)
            {
                    <tr>
                        <td>
                            @item.FCL_ID
                        </td>
                        <td>
                            @item.FCL_STATUT
                        </td>
                        <td>
                            @item.FCL_DATEMAJ
                        </td>
                        <td>
                            @Html.ActionLink("Select", "Index", new { id = item.FCL_ID }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.FCL_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.FCL_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.FCL_ID })
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        @if (Model.InstruTrans != null)
        {
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3>Les Instructions Transporteur</h3>
                    <p>
                        @Html.ActionLink("Ajouter", "Create", new { Controller = "InstruTransporteurs", Action = "Create" })
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>Num. Offre </th>
                        <th>Transporteur</th>
                        <th>ID MAD</th>
                    </tr>
                    @foreach (var item in Model.InstruTrans)
                {
                        <tr>
                            <td>
                                @item.INSTR_NUMOFR
                            </td>
                            <td>
                                @item.TRS_REF
                            </td>
                            <td>
                                @item.MAD_ID
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "InstruTransporteurs", Action = "Edit", id = item.INSTR_NUMOFR })
                                @Html.ActionLink("Details", "Details", new { Controller = "InstruTransporteurs", Action = "Details", id = item.INSTR_NUMOFR })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "Devis", Action = "Delete", id = item.INSTR_NUMOFR })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div class="col-xs-6">
        @if (Model.Transporteurs != null)
            {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Les Transporteurs</h3>
                    <p>
                        @Html.ActionLink("Ajouter", "Create", new { Controller = "Transporteurs", Action = "Create" })
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>Raison Sociale</th>
                        <th>Type de Transporteur</th>
                        <th>E-Mail</th>
                        <th>Observation</th>
                    </tr>
                    @foreach (var item in Model.Transporteurs)
                    {
                        <tr>
                            <td>
                                @item.TRS_NOMRAIS
                            </td>
                            <td>
                                @item.TypeTransporteur.TYTRANS_LIBELLE
                            </td>
                            <td>
                                @item.TRS_MAIL
                            </td>
                            <td>
                                @item.TRS_OBS
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "Transporteurs", Action = "Edit", id = item.TRS_REF })
                                @Html.ActionLink("Details", "Details", new { Controller = "Transporteurs", Action = "Details", id = item.TRS_REF })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "Transporteurs", Action = "Delete", id = item.TRS_REF })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        @if (Model.Mads != null)
            {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Les Marchandises</h3>
                    <p>
                        @Html.ActionLink("Ajouter", "Create", new { Controller = "Marchandises", Action = "Create" })
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>Ref MAD</th>
                        <th>Lieu d'enlevement</th>
                        <th>Adresse enlevement</th>
                        <th>Date d'enlevement</th>
                    </tr>
                    @foreach (var item in Model.Mads)
                    {
                        <tr>
                            <td>
                                @item.MAD_ID
                            </td>
                            <td>
                                @item.MAD_LIEU_ENLEV
                            </td>
                            <td>
                                @item.MAD_ADRES_ENLEV
                            </td>
                            <td>
                                @item.MAD_DATE
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "MADs", Action = "Edit", id = item.MAD_ID })
                                @Html.ActionLink("Details", "Details", new { Controller = "MADs", Action = "Details", id = item.MAD_ID })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "MADs", Action = "Delete", id = item.MAD_ID })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div class="col-xs-6">
        @if (Model.Bookings != null)
            {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Les Bookings</h3>
                    <p>
                        @Html.ActionLink("Ajouter", "Create", new { Controller = "Bookings", Action = "Create" })
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>Numéro de Booking</th>
                        <th>ETD</th>
                        <th>ETA</th>
                    </tr>
                    @foreach (var item in Model.Bookings)
                    {
                        <tr>
                            <td>
                                @item.BKG_NUM
                            </td>
                            <td>
                                @item.BKG_ETD
                            </td>
                            <td>
                                @item.BKG_ETA
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "Bookings", Action = "Edit", id = item.BKG_NUM })
                                @Html.ActionLink("Details", "Details", new { Controller = "Bookings", Action = "Details", id = item.BKG_NUM })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "Bookings", Action = "Delete", id = item.BKG_NUM })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        @if (Model.CompagnieMaritimes != null)
            {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Les Compagnie Maritimes</h3>
                    <p>
                        @Html.ActionLink("Ajouter", "Create", new { Controller = "CompagnieMaritimes", Action = "Create" })
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>Raison Sociale</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>E-Mail</th>
                        <th>Observation</th>
                    </tr>
                    @foreach (var item in Model.CompagnieMaritimes)
                {
                        <tr>
                            <td>
                                @item.CM_NOMRAIS
                            </td>
                            <td>
                                @item.CM_VILLE
                            </td>
                            <td>
                                @item.CM_PAYS
                            </td>
                            <td>
                                @item.CM_MAIL
                            </td>
                            <td>
                                @item.CM_OBS
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "CompagnieMaritimes", Action = "Edit", id = item.CM_REF })
                                @Html.ActionLink("Details", "Details", new { Controller = "CompagnieMaritimes", Action = "Details", id = item.CM_REF })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "CompagnieMaritimes", Action = "Delete", id = item.CM_REF })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div class="col-xs-6">
        @if (Model.Conteneurs != null)
            {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Les Contenairs </h3>
                    <p>
                        @Html.ActionLink("Ajouter", "Create", new { Controller = "Conteneurs", Action = "Create" })
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>Ref. Contenair</th>
                        <th>Num Plombage</th>
                        <th>Date Plombage</th>
                    </tr>
                    @foreach (var item in Model.Conteneurs)
                {
                        <tr>
                            <td>
                                @item.CTN_REF
                            </td>
                            <td>
                                @item.CTN_PLOMBAGE
                            </td>
                            <td>
                                @item.CTN_DATEPLOMBAGE
                            </td>
                            <td>
                                @Html.ActionLink("Editer", "Edit", new { Controller = "Conteneurs", Action = "Edit", id = item.CTN_REF })
                                @Html.ActionLink("Details", "Details", new { Controller = "Conteneurs", Action = "Details", id = item.CTN_REF })
                                @Html.ActionLink("Supprimer", "Details", new { Controller = "Conteneurs", Action = "Delete", id = item.CTN_REF })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>
@if (Model.Marchandises != null)
            {
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Les Marchandises du dossier Sélectionné</h3>
            <p>
                @Html.ActionLink("Ajouter", "Create", new { Controller = "Marchandises", Action = "Create" })
            </p>
        </div>
        <table class="table">
            <tr>
                <th>Nature Marchandise</th>
                <th>Description Marchandise</th>
                <th>Valeur Marchandise</th>
            </tr>
            @foreach (var item in Model.Marchandises)
            {
                <tr>
                    <td>
                        @item.NatureMarchandise.NAT_MARCH_LIBELLE
                    </td>
                    <td>
                        @item.MARCH_DESC
                    </td>
                    <td>
                        @item.MARCH_VALEURO
                    </td>
                    <td>
                        @Html.ActionLink("Editer", "Edit", new { Controller = "Marchandises", Action = "Edit", id = item.MARCH_ID })
                        @Html.ActionLink("Details", "Details", new { Controller = "Marchandises", Action = "Details", id = item.MARCH_ID })
                        @Html.ActionLink("Supprimer", "Details", new { Controller = "Marchandises", Action = "Delete", id = item.MARCH_ID })
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.Devis != null)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Devis</h3>
            <p>
                @Html.ActionLink("Ajouter", "Create", new { Controller = "Devis", Action = "Create" })
            </p>
        </div>
        <table class="table">
            <tr>
                <th>Numéro Devis</th>
                <th>Total Achat</th>
                <th>Taux de Marge</th>
                <th>Total Vente</th>
                <th>Observations</th>
            </tr>
            @foreach (var item in Model.Devis)
            {
                <tr>
                    <td>
                        @item.DEVIS_ID
                    </td>
                    <td>
                        @item.DEVIS_TOTALACHAT
                    </td>
                    <td>
                        @item.DEVIS_TAUX_MRG
                    </td>
                    <td>
                        @item.DEVIS_TOTALVENTE
                    </td>
                    <td>
                        @item.DEVIS_OBS
                    </td>
                    <td>
                        @Html.ActionLink("Editer", "Edit", new { Controller = "Devis", Action = "Edit", id = item.DEVIS_ID })
                        @Html.ActionLink("Details", "Details", new { Controller = "Devis", Action = "Details", id = item.DEVIS_ID })
                        @Html.ActionLink("Supprimer", "Details", new { Controller = "Devis", Action = "Delete", id = item.DEVIS_ID })
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.LigneDeVentes != null)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Details Devis</h3>
            <p>
                @Html.ActionLink("Ajouter", "Create", new { Controller = "LigneDeVentes", Action = "Create" })
            </p>
        </div>
        <table class="table">
            <tr>
                <th>Descr. Achat</th>
                <th>Prix Achat</th>
                <th>Descr. Vente</th>
                <th>Prix Vente</th>
                <th>Observations</th>
            </tr>
            @foreach (var item in Model.LigneDeVentes)
            {
                <tr>
                    <td>
                        @item.ACHVNT_DESC_ACHAT
                    </td>
                    <td>
                        @item.ACHVNT_PRIX_ACHAT
                    </td>
                    <td>
                        @item.ACHVNT_DESC_VENTE
                    </td>
                    <td>
                        @item.ACHVNT_PRIX_VENTE
                    </td>
                    <td>
                        @item.ACHVNT_OBS
                    </td>
                    <td>
                        @Html.ActionLink("Editer", "Edit", new { Controller = "LigneDeVentes", Action = "Edit", id = item.ACHVNT_ID })
                        @Html.ActionLink("Details", "Details", new { Controller = "LigneDeVentes", Action = "Details", id = item.ACHVNT_ID })
                        @Html.ActionLink("Supprimer", "Details", new { Controller = "LigneDeVentes", Action = "Delete", id = item.ACHVNT_ID })
                    </td>
                </tr>
            }
        </table>
    </div>
}
