@model Lorenzo_InterTransit_MVC.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLT_REF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_REF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_NOMRAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_NOMRAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_SIRET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_SIRET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_ADRESSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_ADRESSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_VILLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_VILLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_PAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_PAYS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_TEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_TELPORT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_TELPORT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLT_OBS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLT_OBS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
