@model Lorenzo_InterTransit_MVC.LigneDeVente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LigneDeVente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Devi.DEVIS_REF_FORM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devi.DEVIS_REF_FORM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DossierFclExport.FCL_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DossierFclExport.FCL_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHVNT_DESC_ACHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHVNT_DESC_ACHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHVNT_DESC_VENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHVNT_DESC_VENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHVNT_NAT_ACHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHVNT_NAT_ACHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHVNT_PRIX_ACHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHVNT_PRIX_ACHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHVNT_PRIX_VENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHVNT_PRIX_VENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHVNT_OBS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHVNT_OBS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ACHVNT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
