@model IEnumerable<Lorenzo_InterTransit_MVC.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompagnieMaritime.CM_NOMRAIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DossierFclExport.FCL_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_NOMNAVIRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_ETA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_ETD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_FORWARDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_LOADTERM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_NUMVYG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_PORTARRIVEE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_PORTDEPART)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_PORTFORWARDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_REFCOTATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_OBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BKG_REFBL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompagnieMaritime.CM_NOMRAIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DossierFclExport.FCL_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_NOMNAVIRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_ETA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_ETD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_FORWARDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_LOADTERM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_NUMVYG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_PORTARRIVEE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_PORTDEPART)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_PORTFORWARDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_REFCOTATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_OBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BKG_REFBL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BKG_NUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.BKG_NUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BKG_NUM })
        </td>
    </tr>
}

</table>
